<!doctype html>
<%- include ('partials/header.ejs'); %>

  <div class="row" style="margin: 100px">
    <div class="col-sm-12 col-lg-2">
      <h3>Profile</h3>
    </div>

    <div class="col-sm-10 col-lg-10">
      <h5 style="color: green">
        <%= message %>
      </h5>
      <div class="container emp-profile">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h2>
                <%= user_details.name %>
                  <% if( user_details.is_verified==1 ){ %>
                    <span style="color: green;"  data-toggle="tooltip" data-placement="top" title="Verified Account"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <% } %>
              </h2>
              <h6> (NID:
                <%= user_details.nid %>)
              </h6>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Balance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Transaction</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pt-3">
            <div class="profile-work">
              <h5>Contract Info</h5>
              <i class="fa fa-mobile" aria-hidden="true"> 0<%= user_details.phone %> </i> <br>
              <i class="fa fa-envelope-o">
                <%= user_details.email %>
              </i> <br>

              <br> Account Status: 
              <% if( user_details.status==1 ){ %>
                <span style="color: green;"> Active</span>
                <% } else { %>
                  <span style="color: red;"> Deactive</span>
                  <% } %>
            </div>
          </div>

          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-4">
                    <label>Balance </label>
                  </div>
                  <div class="col-md-8">
                    <p> <%= user_balance.money_balance %> TK</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Gold (22 Karat)</label>
                  </div>
                  <div class="col-md-8">
                    <p> <%= user_balance.gold_22_karat %> g</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Gold (21 Karat)</label>
                  </div>
                  <div class="col-md-8">
                    <p> <%= user_balance.gold_21_karat %> g</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Gold (18 Karat)</label>
                  </div>
                  <div class="col-md-8">
                    <p> <%= user_balance.gold_18_karat %> g</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Last Balance Update</label>
                  </div>
                  <div class="col-md-8">
                    <p> <%= user_balance.updated_at %></p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                 
                  <table class="table" id="table_user">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Gold</th>
                        <th scope="col">Total Gold</th>
                        <th scope="col">Gold Price (Per Gram)</th>
                        <th scope="col">Total Money</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i=0; i < user_buy_sell_trangection.length; i++) { %>
                        <tr>
                          <th scope="row"> <%= i+1 %></th>
                          <td>
                            <%= user_buy_sell_trangection[i].from_currency_type %>
                          </td>
                          <td>
                            <%= user_buy_sell_trangection[i].to_currency_type %>
                          </td>
                          <td>
                            <%= user_buy_sell_trangection[i].gold_type %> karat
                          </td>
                          <td>
                            <%= user_buy_sell_trangection[i].total_gold %>
                          </td>
                          <td>
                            <%= user_buy_sell_trangection[i].gold_per_gram_price %> Tk
                          </td>
                          <td>
                            <%= user_buy_sell_trangection[i].total_money %> Tk
                          </td>
          
                          <td>
                            <%= user_buy_sell_trangection[i].created_at.getDate() %>
                              <%= months[user_buy_sell_trangection[i].created_at.getMonth()] %>, <%= user_buy_sell_trangection[i].created_at.getFullYear() %>
                          </td>
            
                          <td>
                          </td>
            
                        </tr>
                        <% } %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
    $(document).ready(function () {
      var table = $('#table_user').DataTable();
      $(".dataTables_empty").text("User Have No Buy or Sell Transaction");
    });


    
  </script>

  </body>

  </html>